
<section class="task_flow_list">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Done!</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ><a href="#/activity_feed">Activity Feed<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#/task_flow_list">Task Flows</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
                <h2 class="page-header">Task Flow</h2>
                <!--search field-->
                <div class="row placeholders">
                    <div class="hidden-sm col-md-2 placeholder">
                        <!--spacer-->
                    </div>
                    <div class="col-sm-12 col-md-8 placeholder">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <input type="text" class="card-search form-control" placeholder="Search" ng-model="search_query">
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="controls-left">
                                    <label class="formgroup">Order by:
                                        <select ng-model="taskOrder">
                                            <option value="taskflow_owner_name">Owner</option>
                                            <option value="created_datetime">Date</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="controls-right">
                                    <ul class="nav nav-pills" ng-model="direction">
                                        <li role="presentation" data-toggle="pill" class="active" ng-click="direction = null; reverse = false"><a><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span></a></li>
                                        <li role="presentation" data-toggle="pill" ng-click="direction.reverse=true"><a><span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs nav-justified nav-spacer" ng-model="status">
                            <li role="presentation" data-toggle="tab" class="active" ng-click="status=false"><a>Subscribed</a></li>
                            <li role="presentation" data-toggle="tab" ng-click="status=true"><a>My Flows</a></li>
                        </ul>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-default panel-card-{{item.taskflow_style}} list-trans" ng-repeat="item in task_cards | filter:search_query | orderBy:taskOrder:direction">
                                    <div class="panel-body panel-card-body">
                                        <span class="card-flow-header">{{item.taskflow_name}}</span>
                                        <span class="card-flow-body">{{item.taskflow_description}}</span>
                                    </div>
                                    <div class="panel-footer panel-card-footer">
                                        <span class="card-footer-mute">Owned by {{item.user_handle}}</span>
                                        <a href="#/task_flow/{{item.taskflow_id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="hidden-sm col-md-2 placeholder">
                        <!--spacer-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>