<section class="task_flow">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Done!</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ><a href="#">Activity Feed<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#/task_flow_list">Task Flows</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
                <h2 class="page-header truncate" ng-model="task_cards"><a ng-click="$back()"><span class="glyphicon glyphicon-chevron-left header-icon" aria-hidden="true"></span></a>{{task_cards[0].task_title}}</h2>
                <!--search field-->
                <div class="row placeholders">
                    <div class="hidden-sm col-md-2 placeholder">
                        <!--spacer-->
                    </div>
                    <div class="col-sm-12 col-md-8 placeholder">

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="panel panel-default panel-card-{{item.taskflow_style}} list-trans" ng-repeat="item in task_cards | filter:search_query | filter:{done:status}  | filter:{done:status} | orderBy:cardOrder:direction">
                                    <div class="panel-body panel-card-body">
                                        <img class="img-avatar" ng-src="images/avatars/{{item.sender_user_id}}.svg" alt="Photo of {{item.user_handle}}">
                                        <span class="card-header">{{item.task_title}}</span>
                                        <span class="card-body">{{item.task_instruction}}</span>
                                    </div>
                                    <div class="panel-footer panel-card-footer">
                                        <span class="card-footer-mute">From {{item.user_handle}} of {{item.taskflow_name}}</span>
                                        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    </div>
                                    <div class="panel-footer panel-card-footer" ng-repeat="item in task_powerup">
                                        <span class="card-footer-mute">{{item.powerup_name}}</span>
                                        <a href="#/{{item.powerup_template_url}}/{{item.task_id}}"><span class="{{item.powerup_icon_bootstrap}}" aria-hidden="true"></span></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="hidden-sm col-md-2 placeholder">
                        <!--spacer-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>